@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600&display=swap');

:root { /*what are we doing here*/
    --base-color: #1e1e1e;
    --highlight-color: #ff6f61;
    --text-color: #ffffff;
    --font-primary: 'Inter', sans-serif;
    --color-1: #ff6f61;
    --color-2: #6b5b95;
    --color-3: #88b04b;
    --color-4: #650c0c;
    --color-5: #7ee029;
    --color-6: #2a3fa9;
    --color-7: #725b2e;
    --color-8: #ee7793;
    --color-9: #fdc93c;
    --color-10: #a8a8a8;
    --color-11: #c3c642;
    --color-12: #e20d0d;
    --color-13: #ffe100;
    --color-14: #515bc9;
    --color-15: #d4d4d4;
    --color-16: #de7f76;
    --color-17: #daaba7;
    --color-18: #9d84a2;
    --color-19: #ffa528;
    --color-20: #dc1b75;
    --color-21: #e8ae41;
    --color-22: #f36a6a;
    --color-23: #df6305;
    --color-24: #ff3b3b;
    --color-25: #f97714;
    --color-26: #c71c47;
    --color-27: #48c9f5;
    --color-28: #f53523;
    --color-29: #398acc;
    --color-30: #be4d4d;
    --color-31: #f5a623;

    --line-height-base: 1.6;
    --line-height-heading: 1.2;
    
}

/* Universal selector * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    color: var(--text-color);
    padding: 2rem;
    background-color: var(--base-color);
    line-height: var(--line-height-base);
}


p {
    margin-bottom: .5rem;
    line-height: inherit; /* inherits from body */
}



h1, h2, h3, h4, h5 {
    line-height: var(--line-height-heading);
    margin-top: .5rem;
    margin-bottom: .5rem;
}

nav {
    margin: 1em 0 3em 0;
    width: 100%;
    padding: 0 1em;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

nav li:first-child{
    margin-right: auto;
}

nav a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

.favorite-C a, .favorite-B a {
    text-decoration: none;
    color: var(--color-31);
}

nav a:hover { /*for underline */
    text-decoration: underline;
}

.favorite-B a:hover, .favorite-C a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: var(--color-31);
}

body.day1 a.youtube-link, 
body.day1 .favorite-B a,
body.day1 .favorite-C a {
    color: var(--color-1);
}

body.day2 a.youtube-link, 
body.day2 .favorite-B a,
body.day2 .favorite-C a {
    color: var(--color-4);
}

body.day3 a.youtube-link, 
body.day3 .favorite-B a,
body.day3 .favorite-C a {
    color: var(--color-5);
}

body.day4 a.youtube-link, 
body.day4 .favorite-B a,
body.day4 .favorite-C a {
    color: var(--color-6);
}

body.day5 a.youtube-link, 
body.day5 .favorite-B a,
body.day5 .favorite-C a {
    color: var(--color-7);
}

body.day6 a.youtube-link, 
body.day6 .favorite-B a,
body.day6 .favorite-C a {
    color: var(--color-8);
}

body.day7 a.youtube-link, 
body.day7 .favorite-B a,
body.day7 .favorite-C a {
    color: var(--color-9);
}

body.day8 a.youtube-link, 
body.day8 .favorite-B a,
body.day8 .favorite-C a {
    color: var(--color-10);
}

body.day9 a.youtube-link, 
body.day9 .favorite-B a,
body.day9 .favorite-C a {
    color: var(--color-11);
}

body.day10 a.youtube-link, 
body.day10 .favorite-B a,
body.day10 .favorite-C a {
    color: var(--color-12);
}

body.day11 a.youtube-link, 
body.day11 .favorite-B a,
body.day11 .favorite-C a {
    color: var(--color-13);
}

body.day12 a.youtube-link, 
body.day12 .favorite-B a,
body.day12 .favorite-C a {
    color: var(--color-14);
}

body.day13 a.youtube-link, 
body.day13 .favorite-B a,
body.day13 .favorite-C a {
    color: var(--color-15);
}

body.day14 a.youtube-link, 
body.day14 .favorite-B a,
body.day14 .favorite-C a {
    color: var(--color-16);
}

body.day15 a.youtube-link, 
body.day15 .favorite-B a,
body.day15 .favorite-C a {
    color: var(--color-17);
}

body.day16 a.youtube-link, 
body.day16 .favorite-B a,
body.day16 .favorite-C a {
    color: var(--color-18);
}

body.day17 a.youtube-link, 
body.day17 .favorite-B a,
body.day17 .favorite-C a {
    color: var(--color-19);
}

body.day18 a.youtube-link, 
body.day18 .favorite-B a,
body.day18 .favorite-C a {
    color: var(--color-20);
}

body.day19 a.youtube-link, 
body.day19 .favorite-B a,
body.day19 .favorite-C a {
    color: var(--color-21);
}

body.day20 a.youtube-link, 
body.day20 .favorite-B a,
body.day20 .favorite-C a {
    color: var(--color-22);
}

body.day21 a.youtube-link, 
body.day21 .favorite-B a,
body.day21 .favorite-C a {
    color: var(--color-23);
}

body.day22 a.youtube-link, 
body.day22 .favorite-B a,
body.day22 .favorite-C a {
    color: var(--color-24);
}

body.day23 a.youtube-link, 
body.day23 .favorite-B a,
body.day23 .favorite-C a {
    color: var(--color-25);
}

body.day24 a.youtube-link, 
body.day24 .favorite-B a,
body.day24 .favorite-C a {
    color: var(--color-26);
}

body.day25 a.youtube-link, 
body.day25 .favorite-B a,
body.day25 .favorite-C a {
    color: var(--color-27);
}

body.day26 a.youtube-link, 
body.day26 .favorite-B a,
body.day26 .favorite-C a {
    color: var(--color-28);
}

body.day27 a.youtube-link, 
body.day27 .favorite-B a,
body.day27 .favorite-C a {
    color: var(--color-29);
}

body.day28 a.youtube-link, 
body.day28 .favorite-B a,
body.day28 .favorite-C a {
    color: var(--color-30);
}

body.day29 a.youtube-link, 
body.day29 .favorite-B a,
body.day29 .favorite-C a {
    color: var(--color-31);
}


header, section { /*go over this. It is what starts the background box*/
    /* margin-bottom: 0 auto 2em; */
    max-width: 75em;
    width: 100%;
    margin: 0 auto 2em;
    /* background-color: var(--color-2);*/ 
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container1 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1.5em;
    width: 100%;
    max-width: 1100px;
    flex-direction: column;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 3em;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

header img {
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: bottom;

}

.text-container {
    margin: 0 auto;
    text-align : center;
    max-width: 700px;
    width: 100%;
    font-size: 1.75em;
}

.title {
    margin-bottom: 0;
    text-align: center;
    font-size: 2.25em;
}

body.day1 .title h1 {
    color: var(--color-1);
}

body.day2 .title h1 {
    color: var(--color-4);
}

body.day3 .title h1 {
    color: var(--color-5);
}

body.day4 .title h1 {
    color: var(--color-6);
}

body.day5 .title h1 {
    color: var(--color-7);
}

body.day6 .title h1 {
    color: var(--color-8);
}

body.day7 .title h1 {
    color: var(--color-9);
}

body.day8 .title h1 {
    color: var(--color-10);
}

body.day9 .title h1 {
    color: var(--color-11);
}

body.day10 .title h1 {
    color: var(--color-12);
}

body.day11 .title h1 {
    color: var(--color-13);
}

body.day12 .title h1 {
    color: var(--color-14);
}

body.day13 .title h1 {
    color: var(--color-15);
}

body.day14 .title h1 {
    color: var(--color-16);
}

body.day15 .title h1 {
    color: var(--color-17);
}

body.day16 .title h1 {
    color: var(--color-18);
}

body.day17 .title h1 {
    color: var(--color-19);
}

body.day18 .title h1 {
    color: var(--color-20);
}

body.day19 .title h1 {
    color: var(--color-21);
}

body.day20 .title h1 {
    color: var(--color-22);
}

body.day21 .title h1 {
    color: var(--color-23);
}

body.day22 .title h1 {
    color: var(--color-24);
}

body.day23 .title h1 {
    color: var(--color-25);
}

body.day24 .title h1 {
    color: var(--color-26);
}

body.day25 .title h1 {
    color: var(--color-27);
}

body.day26 .title h1 {
    color: var(--color-28);
}

body.day27 .title h1 {
    color: var(--color-29);
}

body.day28 .title h1 {
    color: var(--color-30);
}

body.day29 .title h1 {
    color: var(--color-31);
}


.title h1{
    color: var(--color-31);
}

.album-name {
    margin-top: 0;
    margin-bottom: 2em;
    flex-direction: column;
    display: flex;
    gap: 1.25rem;
    align-items: center;
    text-align: center;
    font-size: 2em;
    
}

.album-name img {
    display: block;
    max-width: 700px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 1em; /*for today*/
    /* border-radius: 1em; */
}

.album-name img[alt="Album_Covers/Q"]  {
    max-width: 500px;
}

.album-name img[alt="Album_Covers/Ban"]  {
    max-width: 500px;
    margin-bottom: 3em;
}

.album-name img[alt="Album_Covers/rr"]  {
    max-width: 500px;
    margin-bottom: 4em;
}

.album-name img[alt="Album_Covers/Texas"]  {
    max-width: 500px;
    margin-bottom: 3em;
}

.album-name img[alt="Album_Covers/D"]  {
    max-width: 650px;
    margin-bottom: 3em;
}

.album-name h2 {
    margin-bottom: 0em;
}

.album-name p {
    margin-bottom: .85em;
    font-size: .75em;
}

.blog-post-Ben{
    font-size: 2.25em;
    line-height: 1.5em;
    align-items: center;
    text-align: center;
}

.blog-post-Connor{
    font-size: 2.25em;
    line-height: 1.5em;
    align-items: center;
    text-align: center;
    margin-bottom: 1em;
}

.blog-post-Ben p {
    font-size: .5em;
}

.blog-post-Connor p {
    font-size: .5em;
    margin-bottom: 1em;
}

.favorite-B {
    flex-direction: column;
    margin-right: 0em;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.favorite-C {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
}

.favorite-B, .favorite-C {
    flex: 0 0 45%;
    max-width: 45%;
    box-sizing: border-box;
}

.Calender {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    padding: 2em 0;
}

.Calender a.calender-item-link {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.Calender a.calender-item-link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0em;
    transform: 180ms ease, box-shadow 180ms ease;
    transform-origin: center;
}

.Calender a.calendar-link:hover img,
.Calender a.calendar-link:focus img {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 6px 18px rgba(0,0,0,0.18);
}

.calender-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0,0,0,0.18);
}

.calender-item {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calender-item p {
    margin-top: .25em;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--highlight-color);
    padding: .75em 1.5em;
    border-radius: .5em;
    font-weight: 600;
}

.secondary {
    background-color: var(--color-2);
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--color-31);
    text-align: center;

}

h2 {
    font-size: 2rem;
}

section p {
    font-size: 1.125rem;
    max-width: 40em;
    margin: 1em auto 0 auto;
}

html {
    scroll-behavior: smooth;
}

.spotify-embed {
    margin-top: 2em;
    text-align: center;
    align-items: center;
}

.spotify-embed h3 {
    margin-bottom: 1em;
    font-size: 2rem;
}

.spotify-embed a.spotify-link {
    display: inline-block;
    width: 150px;
    height: 150px;
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}

.spotify-embed a.spotify-link img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5em;
    transition: 180ms ease, box-shadow 180ms ease;
    transform-origin: center;
}

.spotify-embed a.spotify-link:hover img,
.spotify-embed a.spotify-link:focus img {
  transform: scale(1.05);
  z-index: 2;
  box-shadow: 0 6px 18px rgba(0,0,0,0.18);
}


